@import './base.css';
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

#app {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'aside header'
    'aside main'
    'aside footer';
  height: 100vh;

  .aside {
    grid-area: aside;
    background: var(--vt-c-indigo);
  }
  .main {
    grid-area: main;
    background: white;
  }
  .footer {
    grid-area: footer;
    background: whitesmoke;
  }
}

ul, li {
  list-style: none;
  padding: 0;
}
