@import './base.css';


#app {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'aside header'
    'aside main'
    'aside footer';
  height: 100vh;

  .header {
    grid-area: header;
    background: whitesmoke;
  }
  .aside {
    background: var(--vt-c-indigo);
  }
  .main {
    grid-area: main;
    background: white;
  }
  .footer {
    grid-area: footer;
    background: whitesmoke;
  }
}

ul, li {
  list-style: none;
  padding: 0;
}
